<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="responsive-container">
    <%= render 'partials/navheader' %>
    <div class="navbar-right navbar-collapse collapse">
      <%= render 'devise/shared/links' %>
    </div>
  </div>
</nav>