@import 'constants';

// TODO: Potential re-work: Use tabs to flip between functions instead of exchanges
$focus-color: #37BFBD;

.secondary-nav {
  font-size: 0;
  margin-top: 70px;
  text-align: center;

  .tabs ul {
    margin: 0;
    padding: 0;
  }

  .tabs li {
    background-color: #F4F6F6;
    border-bottom: 1px solid #EBEFF0;
    border-left: 1px solid #EBEFF0;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 15px;
    width: 20%;

    &:hover {
      background-color: #EBEFF0;
      color: lightgray;
      text-decoration: none;
    }

    &.active,
    &:active,
    &:focus {
      background-color: $focus-color;
      border: none;

      * {
        color: white;
      }
    }

    * {
      display: inline-block;
      margin: 0;
    }

    a {
      color: #9DABAB;
      text-decoration: none;
    }

    span {
      padding-right: 5px;
    }
  }
}