/*
 *= require sweet-alert
 *= require nprogress
*/
@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

body, h1, h2, h3, h4, h5, h6, .username {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  /* TODO: Change font color/weight */
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.links > li > a {
  padding-top: 25px;
  padding-bottom: 25px;
}

a:focus {
  text-decoration: none;
}

.btn:focus, .btn:active {
  outline: none !important;
}

.responsive-container {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar {
  background: white;
  height: 70px;
  margin-bottom: 0;
}

.navbar-header, .navbar-right {
  padding-top: 10px;
}

.rounded-corners {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

.username {
  font-family: 'Railway', sans-serif;
  margin-top: 2px;
  font-size: 13px;
  font-weight: 100;
  position: absolute;
  display: inline;
  padding-left: 10px;
}

.brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
}

.brand:hover {
  text-decoration: none;
  color: inherit;
}

.navbar-default .brand {
  padding-left: 30px;
  color: #00BCD4;
  font-family: 'Railway', sans-serif;
}

.logo {
  height: 50px;
  width: 50px;
  float: left;
  margin-left: 20px;
}

.nav-icon {
  font-size: 20px;
  font-weight: 400;
}

#search {
  padding: 6px 15px 6px 35px;
  background: url(search2.png) no-repeat 8px 6px;
}

#stocks {
  margin-top: 70px;
  padding: 20px;
}

#results {
  margin-top: 69px;
  padding-left: 20px;
  padding-right: 20px;
}

#results > tr {
  cursor: pointer;
}

.circle-wrapper {
  display: block;
  padding: 0 2%;
}

.circle-text {
  background-color: #00BCD4;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  height: 100px;
  width: 200px;
}

.circle-text:hover {
  background-color: #00abc3;
}

.circle-text p {
  color: white;
  font-size: 20px;
  padding: 30px;
  text-align: center;
}

.circle-background {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  height: 100px;
  width: 200px;
}

.circle-background img {
  height: 100%;
  padding-left: 10%;
  width: 90%;
}

.table-heading {
  font-size: 18px;
}

.padded-div {
  padding: 250px;
}

.padded-div h1 {
  padding-bottom: 30px;
}

.top-view {
  height: 100%;
  margin-top: 70px;
  position: relative;
}

.left-details {
  background-color: #00BCD4;
  color: white;
  height: 100%;
  padding: 25px;

  h1 {
    text-align: center;
  }

  hr {
    background-color: white;
    border: none;
    height: 3px;
    width: 20%;

    // For use with IE
    color: white;
  }
}

.right-chart {
  height: 100%;
  text-align: center;

  .last-price {
    padding: 15px;
  }

  .graph-wrap {
    height: 90%;
    margin-top: 5%;
  }

  #graphdiv {
    height: 90%;
    width: 95%;
  }
}

.latest-info {
  height: 100%;
  position: relative;
}

.inline-bar {
  margin-top: 30px;
  padding: 0 2%;

  * {
    display: inline-block;
  }

  h3 {
    clear: left;
    float: left;
  }

  a {
    clear: right;
    float: right;
    margin-top: 15px;
  }
}

.rounded-container {
  border: 1px solid #111111;
  display: inline-block;
  height: 60px;
  margin: 5px;
  padding: 15px;
  width: 200px;

  * {
    display: inline-block;
  }

  h4, h5 {
    margin-top: 5px;
  }

  h5 {
    float: right;
  }
}

@media (min-width: 300px) {
  .circle-wrapper {
    display: inline-block;
  }
}

@media (min-width: 600px) {
  .top-view {
    height: 100vh;
  }

  .left-details {
    clear: left;
    display: inline-block;
    float: left;
    width: 30%;
  }

  .right-chart {
    clear: right;
    display: inline-block;
    float: right;
    width: 70%;

    .last-price {
      float: right;
      padding: 25px;
    }

    .graph-wrap {
      height: 90%;
      margin-top: 10%;
      margin-left: 5%;
    }

    #graphdiv {
      height: 80%;
      width: 80%;
    }
  }

  .latest-info .container-fluid {
    margin: auto;
    width: 70%;
  }

  .inline-bar {
    margin-top: 0;
    padding: 15px 5%;
  }

  .rounded-container {
    height: 60px;
    width: 200px;
  }
}