@import 'constants';

#stocks {
  margin-top: 70px;
  padding: 20px;
}

#results {
  margin-top: 69px;
  padding-left: 20px;
  padding-right: 20px;
}

#results > tr {
  cursor: pointer;
}

.circle-wrapper {
  display: block;
  padding: 0 2%;
}

.circle-text {
  background-color: $brand-color;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  height: 100px;
  width: 200px;
}

.circle-text:hover {
  background-color: #00ABC3;
}

.circle-text p {
  color: white;
  font-size: 20px;
  padding: 30px;
  text-align: center;
}

.circle-background {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  height: 100px;
  width: 200px;
}

.circle-background img {
  height: 100%;
  padding-left: 10%;
  width: 90%;
}

.table-heading {
  font-size: 18px;
}

.padded-div {
  padding: 250px;
}

.padded-div h1 {
  padding-bottom: 30px;
}

.top-view {
  height: 100%;
  margin-top: 70px;
  position: relative;
}

.left-details {
  background-color: $brand-color;
  color: white;
  height: 100%;
  padding: 25px;

  h1 {
    text-align: center;
  }

  hr {
    background-color: white;
    border: none;
    height: 3px;
    width: 20%;

    // For use with IE
    color: white;
  }
}

.right-chart {
  height: 100%;
  text-align: center;

  .last-price {
    padding: 15px;
  }

  .graph-wrap {
    height: 90%;
    margin-top: 5%;
  }

  #graphdiv {
    height: 90%;
    width: 95%;
  }
}

.latest-info {
  height: 100%;
  position: relative;

  .row {
    margin: auto;
    width: 75%;
  }

  .container-fluid {
    background-color: $brand-color;
    padding-bottom: 3%;
    padding-top: 3%;
  }
}

.inline-bar {
  margin-top: 30px;
  padding: 0 2%;

  * {
    display: inline-block;
  }

  h3 {
    clear: left;
    float: left;
  }

  a {
    clear: right;
    float: right;
    margin-top: 15px;
  }
}

.rounded-container {
  background-color: white;
  border-radius: 20px;
  display: inline-block;
  height: 60px;
  margin: 5px;
  padding: 15px;
  width: 200px;

  * {
    display: inline-block;
  }

  h4, h5 {
    margin-top: 5px;
  }

  h5 {
    float: right;
  }
}

@media (min-width: 300px) {
  .circle-wrapper {
    display: inline-block;
  }
}

@media (min-width: 600px) {
  .top-view {
    height: 100vh;
  }

  .left-details {
    clear: left;
    display: inline-block;
    float: left;
    width: 30%;
  }

  .right-chart {
    clear: right;
    display: inline-block;
    float: right;
    width: 70%;

    .last-price {
      float: right;
      padding: 25px;
    }

    .graph-wrap {
      height: 90%;
      margin-top: 10%;
      margin-left: 5%;
    }

    #graphdiv {
      height: 80%;
      width: 80%;
    }
  }

  .inline-bar {
    margin-top: 0;
    padding: 15px 5%;
  }

  .rounded-container {
    height: 60px;
    margin: 1%;
    width: 200px;
  }
}