<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'stocks', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'dygraph-combined.min', 'data-turbolinks-track' => true %>
  <%= render 'partials/headtags' %>
</head>
<body>

<%= yield %>

</body>
</html>
