<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= render 'partials/headtags' %>
</head>
<body>

<%= yield %>

</body>
</html>
